<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openAddProductsPAGE()">Añadir</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="openProductsModal()">
      <img [src]="product.img" alt="Product Photo">
      
      <ion-label>
        <h2>Nombre: {{ product.name }}</h2>
        <p>Descripción: {{ product.description }}</p>
        <p>Cantidad: {{ product.quantity }}</p>
        <p>Precio de venta: {{ product.sellPrice }}MXN</p>
        <p>Precio de costo: {{ product.costPrice }}MXN</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
