<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let ticket of tickets">
      
      <ion-label>
        <h2>Folio de ticket: {{ ticket.folio }}</h2>
        <p>Id cliente: {{ ticket.id_client }}</p>
        <p>Nombre del producto: {{ ticket.name_product }}</p>
        <p>Descripción: {{ ticket.description }}</p>
        <p>Cantidad: {{ ticket.quantity }}</p>
        <p>Costo: {{ ticket.cost }}MXN</p>
        <p>Fecha de pago: {{ ticket.paymentDate }}</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>

