<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <!-- Mostrar detalles del cliente aquí -->
  </ion-item>

  <ion-button expand="full" color="success" (click)="openProductsToClient(clientDetails.id)">Vender</ion-button>
  <!-- <ion-button expand="full" color="primary" (click)="editClient()">Editar Cliente</ion-button> -->
  <ion-button expand="full" color="danger" (click)="deleteClient()">Eliminar Cliente</ion-button>
</ion-content>
