<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="user" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de la tienda</ion-label>
      <ion-input [(ngModel)]="storeName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">URL del logo</ion-label>
      <ion-input [(ngModel)]="logo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registerUser()">Registrar</ion-button>
</ion-content>
